NODE_ENV="development"
API_HOST="http://localhost:8098"
DOMAIN="http://localhost:3000"
TOKEN_KEY="lmssecret"
TOKEN_MAX_AGE=604800;
PORT=3000
MQTT_URL="ws://localhost:9001"
MQTT_USERNAME=""
MQTT_PASSWORD=""
MQTT_TOPIC_ACCESS_LOG="mqtt/access_log"
MQTT_TOPIC_AWB_SYNC_UPDATED="cargo/awb/sync/updated"
FIREBASE_API_KEY=""
FIREBASE_AUTH_DOMAIN=""
FIREBASE_PROJECT_ID=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_APP_ID=""
FIREBASE_MEASUREMENT_ID=""
FIREBASE_VAPID_KEY=""
